name: Yona Actions
on: workflow_dispatch
jobs: 
  Testing:
    runs-on: ubuntu-latest
    steps: 
      - name: Code Checkout
        user: actions/checkout@v4


      - name: Maven Tests
        run: mvn test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle